body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-image: url("../images/papers.co-vv51-dark-moving-dot-line-pattern-background-36-3840x2400-4k-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

a {
  color: #00B7FF;
}

li {
  border: 1px solid black;
  background-color: rgb(238, 255, 0);
  border-radius: 5px;
  width: 130px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 19px;
  float: left;
  list-style: none;
  color: black
}

.hide {
  display: none;
}

.errors {
  font-size: 19px;
  color: rgb(255, 0, 0);
}

.success {
  font-size: 19px;
  color: rgb(9, 240, 9);
}